@model testing.Models.PurchasesOfGood;

@{
    ViewData["Title"] = "MakeAPurchase";
}

<h1>Make A Purchase</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MakeAPurchase">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="DateOfPurchase" class="control-label">Date Of Purchase</label>
                <input asp-for="DateOfPurchase" class="form-control" />
                <span asp-validation-for="DateOfPurchase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountRequired" class="control-label">Amount Required</label>
                <input asp-for="AmountRequired" class="form-control" />
                <span asp-validation-for="AmountRequired" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="NumberOfItemsPurchased" class="control-label">Number Of Items Purchased</label>
                <input asp-for="NumberOfItemsPurchased" class="form-control" />
                <span asp-validation-for="NumberOfItemsPurchased" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="DonationOfGoodsCategoryId" class="control-label">Category Of Goods Purchased</label>
                <select asp-for="DonationOfGoodsCategoryId" class ="form-control" asp-items="ViewBag.DonationCategoryId"></select>
            </div>

            <div class="form-group">
                <label asp-for="DisasterId" class="control-label">Disaster</label>
                <select asp-for="DisasterId" class ="form-control" asp-items="ViewBag.DisasterId"></select>
            </div>
           
           <div class="form-group">
                <input type="submit" value="Make Allocation" class="btn w-50" style="background-color:#AA1AED" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="text-white">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
